<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= form_tag(new_upload_path, method: :get) do %>
        <%= submit_tag ("Add Photo +"), class: 'btn btn-outline-success'%>
    <% end %>
    <form class="all d-flex">
        <%= form_tag(home_path, method: :get) do %>
            <%= submit_tag ("All Photos"), class: 'btn btn-outline-light'%>
        <% end %>
    </form>
    <form class="d-flex">
        <%= form_tag(home_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search], class: 'form-control', placeholder: "Search image title") %>
            <%= submit_tag ("Search Photos"), class: 'btn btn-outline-light'%>
        <% end %>
    </form>
  </div>
</nav>

<div class="uploads">
<% @uploads.each_with_index do |upload, index| %>
    <div class="card upload">
        <% if upload.image.attached? %>
        <%= image_tag upload.image, :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title"><%= upload.title %></h5>
            <%= form_tag(edit_upload_path(upload.id), method: :get) do %>
                <%= submit_tag ("View/edit"), class: 'card-btn btn btn-outline-dark'%>
            <% end %>
        </div>
        <% end %>
    </div>
<% end %>
</div>